<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="stylesheet" href="/static/CSS/normalize.css">
</head>
<body>
    <!-- Nav Bar Start -->
    <div class="navbar">
        <a class="Logo" href="{{ url_for('home', model=usedModel) }}">Movie Reviews</a>

        <!-- Model Select Form -->
        <form id="selectModel" action="{{ url_for('select') }}" method="post">
            <label for="modelsSelect" id="modelsLabel">Select Classifier:</label>
            <select name="models" id="modelsSelect">
                <option value="LogisticRegression" {% if usedModel == "LogisticRegression" %}selected{% endif %}>Logistic Regression</option>
                <option value="SVM" {% if usedModel == "SVM" %}selected{% endif %}>SVM</option>
                <option value="NaiveBayes" {% if usedModel == "NaiveBayes" %}selected{% endif %}>Naive Bayes</option>
                <option value="RandomForest" {% if usedModel == "RandomForest" %}selected{% endif %}>Random Forest</option>
                <option value="KNN" {% if usedModel == "KNN" %}selected{% endif %}>KNN</option>
            </select>
            <button type="submit" id="selButton">Select</button>
        </form>
        

        <h2>NLP</h2>
    </div>
    <!-- Nav Bar End -->

    <!--Write Review Start-->
    <div>
        <form action="{{ url_for('predict') }}" method="post">
            <p>Write a review:</p>
            <textarea name="content" placeholder="Review" required="required"></textarea>
            <input type="hidden" name="usedModel" value="{{ usedModel }}">
            <button type="submit">Predict</button>
        </form>        
        
        {% if predict == "Positive" %}
            <div class="predict positive-review">{{ predict }}</div>
        {% elif predict == "Negative" %}
            <div class="predict negative-review">{{ predict }}</div>
        {% else %}
        <div class="predict">{{ predict }}</div>
        {% endif %}
    </div>
    <!--Write Review End-->

    <!-- Tabs Navigation Start -->
    <div class="tabs-container">
        <div class="tabs">
            <button class="tab-button" data-tab="positive">Positive Reviews</button>
            <button class="tab-button" data-tab="negative">Negative Reviews</button>
        </div>

        <div id="positive" class="tab-content">
            {% if positive %}
                <ul>
                    {% for review in positive %}
                        <li class="review positive-review">{{ review }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div id="negative" class="tab-content">
            {% if negative %}
                <ul>
                    {% for review in negative %}
                        <li class="review negative-review">{{ review }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>  
    </div>
    <!-- Tabs Navigation End -->

    <script src="/static/script/script.js"></script>
</body>
</html>